::-moz-selection {
    background-color: #fff;
    color: #fff;
}

.btn-custom {
    color: #8D877C;
    background-color: #cfb985;
    border-color: transparent;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

#header-top {
    background: #f5f5f5;
    border-top:4px solid #cfb985;
    height:40px;
    font-size:12px;
    font-weight: bold;
}

.header5 #header-top {
    border-top:0px solid #FFF;
    height:0px;
    background: #FFF none repeat scroll 0% 0%;
}
 
.header-top-center {
    margin-right: 25%;
    margin-left: 25%;
}

.ln-separator{
    border-left:1px solid #000;
}
 
#top-links li {
    margin-right:10px;
    display:block;
    float:left;
}

.top-separator {
    display: block;
    height:15px;
    width:14px;
    position: absolute;
    left:0;
    top:0;
    border-left: 1px solid #7F7D74;
    margin-top: 3px;
}

#header .btn {
  padding: 0px 12px;
  border-radius:0;
  height: 32px;
}
 
.btn-right-color {
    background-color: white;
    border: 1px solid #E8E8E8;
}

.header5 #inner-header .logo-container {
    float:none;
    margin-bottom:80px;
}

#main-nav-container #main-nav  {
    float:left;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
}

.header5 #main-nav-container #main-nav .menu > li {
    padding-bottom:10px;
}

#main-nav-container #main-nav .menu li a {
    display:inline-block;
    color:#FFF;
    font:700 17px/19px 'PT Sans', sans-serif;
    padding:13px 25px;
}

#responsive-nav-button #responsive-nav-button-icon {
    display:inline-block;
    width:35px;
    height:35px;
    background-color:#444645;
    background-image:url(../img/sprites/responsive-menu-icon.png);
    background-repeat:no-repeat;
    background-position:center center;
    vertical-align:top;
    border-radius:3px;
    margin-left:15px;
    margin-top:1.5px;
    transition:background-color 0.4s;
    -webkit-transition:background-color 0.4s;
    -moz-transition:background-color 0.4s;
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);
}

.header5 #quick-access {
    position: absolute;
    left:100px;
    top: -80px;
}

.dropdown-menu-container {
    position: relative;
    padding-bottom:2px;
    position: absolute;
    top:-64px;
    right:100px;
}
 
.dropdown-menu-container .btn-right {
    position: absolute;
    left: -340px;
}
 
.dropdown-menu-container .btn-right-social-01 {
    position: absolute;
    left: 25px;
}
 
.dropdown-menu-container .btn-right-social-02 {
    position: absolute;
    left: 55px;
}
 
.dropdown-menu-container .btn-right-social-03 {
    position: absolute;
    left: 85px;
}
 
.dropdown-menu-container .btn-right-social-04 {
    position: absolute;
    left: 115px;
}
 
.position-right {
    position: absolute;
    left: 85%;
}

.header5 .dropdown-cart-menu-container {
    padding-bottom: 2px;
    position: absolute;
    top: -64px;
    right: 100px;
}

.cart-res {
    width:35px;
    height:35px;
    position: absolute;
    left:-35px;
    top:0;
    background-image: url(../img/Header/Buttons/ICN_Reservations_Gold.png);
    background-repeat:no-repeat;
}
 
.cart-menu {
    width:35px;
    height:35px;
    position: absolute;
    left:-35px;
    top:0;
    background-image: url(../img/Header/Buttons/ICN_Cart_Gold.png);
    background-repeat:no-repeat;
}

#header.header5 .dropdown-cart-menu-container .btn.btn.dropdown-toggle {
    min-width:140px;
    text-align:left;
    padding:0px 10px 6.5px 10px;
    background-color: transparent;
    border:1px solid #e8e8e8;
    color:#8d877c;
}

.dropdown-menu-container .social-media-icons{
    position: absolute;
    margin-left: 30px;
    width: 100%;
}

#header .dropdown-cart .dropdown-cart-menu  {
    min-width:335px;
    margin-top:8px;
    border-top:3px solid #c0aa77;
    background: #fff;
    padding:20px;
}

.item-name a {
    font-size: 16px;
    color: #AA9F81;
}
 
.item-desc {
    font-size: 12px;
    color: #AA9F81;
}

.news-letter-footer img {
    position: absolute;
    left: -35px;
}
 
.news-letter-footer {
    position: absolute;
    left: 35%;
    padding-top: 15px;
    color: #AA9F81;
}
 
.social-footer-add {
    position: absolute;
    padding: 10px;
    left: 50%;
    width: 100%;
}

.home-banners p {
    text-align: center;
}
 
.home-banners {
    padding-left: 12%;
}

.reserve-item {
    right: 40px;
    position: absolute;
}
 
.btn-add-custom{
    background-color: #FFF;
    border: 1px solid #E8E8E8;
}
 
.item.item-hover .item-meta-container {
    text-align: left;
        display: block;
    margin: 0 auto;
    text-align: center;
}

.item-name {
    font:400 19px/24px 'PT Sans', sans-serif;
    margin:0 0 0px;
}

.item-name a {
    color:#AA9F81;
    font-weight: bold;
}

.item-add-btn {
    display:inline-block;
    height:35px;
    min-width:35px;
    color: #e8e8e8;
    background-color: #575a59;
 	border: none;
    -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);
    border-radius:3px;
    text-transform:uppercase;
    transition:background-color 0.4s;
    -webkit-transition:background-color 0.4s;
    -moz-transition:background-color 0.4s;
    vertical-align:top;
}

.container-add-left {
padding-left: 12%;
padding-right: 12%;
}
 
.col-add-footer p {
    color: #AA9F81;
    font-size: 16px;
}
 
.col-add-footer ul li  {
    color: #ffffff;
    font-size: 12px;
}
 
.col-add-footer {
    color: #ffffff;
    font-size: 12px;    
}
 
.col-add-footer-last {
    padding-top: 35px;
    color: #ffffff;
    font-size: 12px;    
}

#footer {
    background:#404040;
    font:15px/2em 'Gudea', Arial, sans-serif !important;
    color:#e0ded4;
}

.services-box p {
    font-size: 14px;
    color: #6F6F6F;
    line-height: 20px;
    position: absolute;
    left: 120px;
    width: 20em;
}

.no-content-comment h2 span,
.no-content-comment h3 span {
    opacity:0;
}
 
.bk-color-404040{
    background-color: #404040;
}
 .search-menu{
    /*left: 10%;*/
    top: 10px;
    left: 20%;
}
 
.slider-images {
    width: 100%;
    height: 600px;
}
 
.slider-side {
    position: absolute;
    left: 13%;
    margin-top: 15%;
    width: 25%;
}
 
.slider-container {
    width: 100%;
    height: 100%
}
 
.slider-text {
    position: absolute;
    word-wrap: break-word;
    text-align: center;
    margin-top: -37%;
    left: 16%;
    width: 20%;
    font-size: 100%;
}
 
.slider-text button {
    color: white;
    background-color: #404040;
    width: 150px;
    height: 35px;
    text-align: center;
}
 
.slider-text h1 {
    font-size: 2vw;
}
 
.slider-text p {
    font-size: 1vw;
}
 
.service-inline {
    width: 30%;
}
 
.service-inline img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
.service-inline h1 {
    text-align: center;
    color: #AA9F81;
}
 
.service-inline p {
    text-align: center;
    color: #666666;
}
 
.separator-rotate-180 {
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -moz-transform: rotate(180deg);   /* Firefox */
    -ms-transform: rotate(180deg);   /* IE 9 */
    -o-transform: rotate(180deg);   /* Opera */
    transform: rotate(180deg);
}
 
.image-slider-wrapper {
    width: 100%;
}
 
.image-slider-wrapper h1 {
    font-size: 30px;
    color: #AA9F81;
    text-align: center;
    margin-top: 20px;
}
 
ul.image-slider-list {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    width: 200%;
}
 
ul.image-slider-list li {
    display: inline;
    float: left;
    word-wrap: break-word;
    width: 20em;
    text-align: center;
}
 
ul.image-slider-list li img {
    margin-left: 25px;
}
 
ul.image-slider-list li img.lower {
    margin-left: 25px;
}
 
ul.image-slider-list li h1 {
    color: #AA9F81;
}
 
 
.quick-res-added {
    position: absolute;
    top: -70px;
    left: 45%;
}
 
.quick-cart-added {
    padding-bottom: 2px;
    position: absolute;
    top: -70px;
    right: 400px;
}
 
.pull-align {
    display: block;
}
 
.pull-social {
    display: block;
}
 
.page-logo {
    display: block;
}
 
.btn-add-to-cart{
    background-color: #FFF;
    border: 1px solid #AA9F81;
    color: #AA9F81;
}
 
.search-separator {
    width:0%;
    overflow:hidden;
    position: relative;
    right: 225px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
 
.search-menu:hover .search-separator {
    width: 85%;
}
 
.search-menu img {
    position: relative;
    margin-top: -60px;
    margin-left: -40px;
}
 
  #main-nav-container #main-nav {
    margin-right: 0px;
  }

.search-nav-add {

}

.search-nav-add input {
  margin-top: 5px;
}

.search-nav-add img {
  margin-left: 12px;
  margin-bottom: 12px;
}

@media screen and (max-width: 1581px) {

  .header5 #header-top {
      height: 40px;
  }

  #responsive-nav-button {
    color: #AA9F81;
  }

  .home-banners a {
    margin-right:auto;
    margin-left:auto;
  }
  
  .title {
    font-size:30px;
  }

  #page-header {
    padding:120px 0;
  }

  #page-header h1 {
    font-size:32px;
  }

  #page-header .page-header-desc {
    font-size:18px;
    line-height:26px;
  }

  .hero-unit h2 {
    font-size:26px;
  }

  .hero-unit p {
    font-size:16px;
    line-height:22px;
  }

  #testimonials-section h3 {
    font-size:21px;
  }

  .about-us-testimonials p {
    font-size:16px;
  }

  .about-us-testimonials .testimonial-title {
    font-size:18px;
  }

  .title-desc {
    font-size:14px;
  }
  
  #wrapper.boxed,
  #wrapper.boxed-long {
    width:100%;
    margin:0;
  }

  /* helper classes */
  .hide-for-xs {
    display:none;
  }
  
  .hide-for-lg {
    display:inline;
  }
  
  .flag-container {
    margin-right:0;
  }

  .dropdown-language,
  .header4 .dropdown-language,
  .header5 .dropdown-language {
    margin-left:5px;
  }

  #inner-header .header-box {
    display:none;
  }
  
  .header-top-dropdowns .btn {
    min-width:45px;
  }
  
  #header-top .header-link {
    margin-right:0;
    position: absolute;
    top:40px;
    right:0;
    min-width:200px;
    text-align:right;
  }

  .header2 #header-top .header-link,
  .header3 #header-top .header-link {
    position: static;
    top:auto;
    right:auto;
  }

  .header4 .header-text-container {
    position: static;
  }

  #top-links li  {
    margin:0;
  }

  #top-links li a {
    padding:0 15px;
    border-right:1px solid #dcdcdc;
    height:22px;
    margin-left:15px;
  }

  .header4 #top-links li a,
  .header5 #top-links li a {
    margin-left:15px;
  }

  #top-links li:first-child a .top-icon {
    left:15px;
  }

  #top-links li:first-child a {
    border-left:1px solid #dcdcdc;
    margin-left:0;
    padding-left: 30px;
  }

  #header .dropdown-menu > li > a {
    text-align:center;
  }

  #inner-header {
    padding-top:75px; 
  }

  .header2 #inner-header {
    padding-top:55px;
  }

  .header4 #inner-header {
    padding-top:65px;
  }

  .header6 #inner-header {
    padding-top:60px;
  }

  .header2 #inner-header .header-inner-right,
  .header3 #inner-header .header-inner-right {
    margin:0;
  } 

  .header2 .header-inner-right-wrapper {
    position: absolute;
    top:10px;
    right:15px;
    margin:0;
    z-index:1000;
  }
  
  .header3 .header-inner-right-wrapper {
    position: absolute;
    right:15px;
    top:8px;
    z-index:1000;
  }

  .header6 #inner-header .logo-container {
    margin-bottom:20px;
  }

  .header6 #inner-header .header-inner-right {
    margin-bottom:70px;
  }

  .header3 .quick-contact-text {
    display:none;
  }

  .header7 #quick-access {
    height:auto;
  }
  
  #inner-header .logo-container {
    margin-bottom: 80px;
  }

  .header2 #inner-header .logo-container {
    margin-bottom:86px;
  }

  .header3 #inner-header .logo-container,
  .header4 #inner-header .logo-container {
    margin-bottom:100px;
  }

  .header5 #inner-header .logo-container {
    margin-bottom:86px;
  }

  .header7 #inner-header .logo-container {
    margin-bottom:80px;
  }

  .header7 #inner-header .header-inner-right {
    margin-bottom:40px;
  }

  .header4 .logo-container,
  .header4 #menu-right-side {
    float:none;
  }

  #quick-access .quick-search-form {
    position: absolute;
    top:-70px;
    left:50%;
    margin-left:69.5px;
  }
  
  .header3 #quick-access .quick-search-form {
    top:-75px;
  }

  .header6 #quick-access .quick-search-form {
    top:5px;
  }

  .header7 #quick-access .quick-search-form .form-control {
    border:1px solid #dcdcdc;
  }

  .header7 #quick-access .quick-search-form  {
    margin-left:89.5px;
    top:-95px;
  }

  .header4 #quick-search {
    margin-top:0;
  }

  .header4 #quick-access .quick-search-form .form-group {
    top:0;
  }

  .header4 #quick-access .quick-search-form {
    top:-70px;
  }

  .header4 #main-nav-container #main-nav {
    position: static;
    float:none;
  }

  .header4 #menu-right-side {
    position: relative;
  }

  .header4 #quick-access .quick-search-form .form-group,
  #quick-access .quick-search-form .form-group {
    display:block;
  }
  
  .header5 .dropdown-cart-menu-container {
    top:11px;
    z-index:1000;
  }

  .header7 .dropdown-cart-menu-container {
    position: absolute;
    right:15px;
    top:30px;
    z-index:1000;
  }

  #main-nav-container #main-nav {
    position:static;
  }

  .header3 #main-nav-container #main-nav {
    border:none;
  }

  #main-nav-container #main-nav #responsive-nav {
    display:block;
    
  }

  .header6 #main-nav-container,
  .header7 #main-nav-container {
    border-top:none;
    border-bottom:none;
  }
  
  .header6 .dropdown-cart-menu-container {
    position: absolute;
    right:15px;
    top:69px;
    z-index:1000;
  }

  .header6 #main-nav-container #main-nav .menu,
  .header7 #main-nav-container #main-nav .menu,
  #main-nav-container #main-nav > ul{
    display:none; 
  }
  
  .col-2 {
    padding-left:15px;
  }
  
  #category-header {
    padding:25px 0;
  }
  
  #category-header .category-image {
    width:100%;
  }
  
  #category-header .category-title {
    padding-top:85px;
  }
  
  #category-header .category-title p {
    display:none;
  }
  
  #category-header .slider-banner-description .category-title p {
    display:block;
  }
  
  #category-header.category-banner .category-title  {
    margin-top:-46px;
  }
  
  #category-header.category-banner .category-title p {
    display:none;
  }
  
  #category-header .category-title  h2 {
    font-size:30px;
  }
  
  #price-range-details input {
    width:70px;
  }

  #price-range-details input.separator {
    margin-right:10px;
  }
  
  .filter-color-list li.last-md {
    margin-right:10px;
  }

  .filter-color-list li.last-lg {
    margin-right:10px;
  }

  .item.item-list  .item-image-container {
    width:150px;
    margin-right:30px;
  }
  
  .item .item-image-wrapper,
  .item .item-image-container,
  .item .item-meta-container {
    width:222px;
    margin-left:auto;
    margin-right:auto;
  }
  
  .item-price-container {
    font-size:15px;
    width:81px;
    height:81px;
  }

  .item-action {
    text-align: center;
  }

  .item-price-container .old-price {
    margin-top:20.5px;
  }

  .item-price-container .item-price{
    margin-top:30.5px;
    display:block;
  }

  .logo {
    text-align:center;

  }
  
  .logo > a {
    margin-left:0;
    display:inline-block;
  }
  
  #category-header {
    padding:40px 0;
  }
  
  .toolbox-filter {
    padding-top:30px;
  }
  
  .sort-box {
    position:absolute;
    top:-20px;
    right:0;
  }
  
  .sort-box .select-dropdown {
    margin-right:0;
  }
  
  .view-box {
    float:right;
  }
  
  .toolbox-pagination  .view-count-box {
    float:none;
    position:absolute;
    top:-50px;
    right:auto;
    left:0;
  }

  .sidebar .widget.subscribe {
    padding:25px;
  }
  
  .sidebar .widget.subscribe h3 {
    font-size:30px;
    line-height:35px;
  }
  
  .sidebar .widget.subscribe .form-group {
    padding:0 ;
  }

  .sidebar .widget.banner-slider-container {
    width:272px;
    margin-left:auto;
    margin-right:auto;
  }

  .sidebarslider .flex-direction-nav .flex-prev:hover,
  .footerslider .flex-direction-nav .flex-prev:hover {
      background-position: -188px -225px;
  }

  .sidebarslider .flex-direction-nav .flex-next:hover,
  .footerslider .flex-direction-nav .flex-next:hover {
      background-position: -221px -225px;
  }

  .article {
    padding-left:75px;
  }

  .article .article-meta-date {
    width:65px;
    padding:12.5px 0;
  }
  .article .article-meta-more ,
  .article .article-meta-view  {
    float:none;
    margin-top:10px;
  }
  .article .article-meta-container .article-meta-more a,
  .article .article-meta-container .article-meta-view a {
    margin-left:0;
    margin-right:20px;
  }
  
  #product-image-carousel-container  {
    width:84px;
    margin-right:16px;
  }
  
  #product-image-container {
    width:380px;
  }
  
  .product-extra-box-container {
    float:none;
  }
  
  .product-extra-box,
  .product-extra-box{
    float:left;
    margin-right:30px;
  }
  
  .product-extra-box span ,
  .product-extra-box span{
    display:inline-block;
    margin-left:6px;
  }
  
  .product .share-button-group  {
    float:none;
    width:100%;
    margin-left:0;
  }
  
  .tab-container .nav-tabs {
    border-right:1px solid transparent;
  }

  .tab-container.left .nav-tabs,
  .tab-container.right .nav-tabs  {
    float:none;
  }

  .tab-container.left .tab-content,
  .tab-container.right .tab-content {
    padding:0 30px 0;
  }

  .tab-container .tab-content .tab-pane {
    padding:30px 0;
  }

  .tab-container.right .nav-tabs > li.active,
  .tab-container.right .nav-tabs > li.active > a {
    margin-left:0;
  }

  .tab-container.left .nav-tabs > li.active,
  .tab-container.left .nav-tabs > li.active > a {
    margin-right:0;
  }

  .tab-container .nav-tabs.nav-justified>li>a {
    margin-bottom:0;
  }

  .tab-container.right .nav-tabs {
    border-left:none;
  }
  
  .tab-container.left .nav-tabs {
    border-right:none;
  }

  #footer-top .widget {
    padding-right:15px;
  }

  #footer .facebook-likebox iframe{
    height:200px;
  }
  
  .twitter_feed .flex-direction-nav  {
    margin-left:-84px;
  }
  
  .footer-social-links-container {
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
  }

  #footer-bottom .social-links li:first-child {
    margin-left:5px;
  }

  #footer-bottom .social-links li {
    margin-top:0;
    margin-bottom:20px;
  }

  #footer-bottom p {
    margin:0 0 6px;
    text-align:center;
  }

  #footer .facebook-likebox iframe{
    height:200px;
  }

  #footer #newsletter-container {
    text-align:center;
  }
  
  #footer #newsletter-container  h3 {
    font-size:22px;
    line-height: 30px;
    float:none;
    margin-bottom:15px;
  }
  
  #footer #newsletter-container form {
    float:none;
  }

  #footer #newsletter-container input[type="text"] {
    margin-right:10px;
    display:block;
    width:260px;
    margin:0 auto 10px;
  }

  #footer #newsletter-container .btn {
    padding:9px 20px;
    font-size:15px;
  }
  
  .cart-table .close-button {
    margin-top:10px;
  }
  
  .table-responsive {
    border:none;
  }
  
  .cart-table .item-name-col figure {
    margin-bottom:20px;
  }
  #shipping-form .control-label {
    width:110px;
  }

  #shipping-form .input-container {
    width:220px;
  }

  .single-portfolio-btn-container {
    top:-57px
  }

  .portfolio-btn {
    width: 41px;
    height:30px;
  }

  .portfolio-btn.portfolio-btn-prev {
    background-position: -108px -200px;
  }

  .portfolio-btn.portfolio-btn-next {
    background-position: -147px -200px;
  }

  .portfolio-btn.portfolio-btn-prev:hover {
    background-position: -108px -228px;
  }

  .portfolio-btn.portfolio-btn-next:hover {
    background-position: -147px -228px;
  }

  .team-member-header figure {
    margin-left:auto;
    margin-right:auto;
  }

  .no-content .no-content-comment {
    margin-left:-240px;
  }
 
}
 
@media screen and (max-width: 1580px) {
  .social-links {
    font-size: 0;
    line-height: 0;
    margin-left: -80%
  }
}

@media screen and (max-width: 1500px) {
    .header5 #header-top {
      height: 40px;
    }
}
 
@media screen and (max-width: 1400px) {
    .search-menu {
        top: 10px;
        left: 0%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 1235px) {
  .social-links {
    font-size: 0;
    line-height: 0;
    margin-left: -70%
  }
}

@media screen and (max-width: 1033px) {
  .social-links {
    font-size: 0;
    line-height: 0;
    margin-left: -60%
  }
}
 
@media screen and (max-width: 1020px) {.page-logo {width: 80%;}}

@media screen and (max-width: 945px) {

  .page-logo {
    width: 70%;
  }

  .header5 #header-top {
    height: 50px;
  }

}
@media screen and (max-width: 900px) {.page-logo {width: 60%;}}
@media screen and (max-width: 865px) {.page-logo {width: 50%;}}
 
@media screen and (max-width: 889px) {.search-menu {margin-left: 40%;}}
 
@media screen and (max-width: 880px) {
  .social-links {
    font-size: 0;
    line-height: 0;
    margin-left: -50%
  }

      .social-links {
        font-size: 0px;
        line-height: 0;
        position: absolute;
        margin-top: 20px;
        margin-left: -160px;
    }
 
    #content {
        padding-bottom: 70px;
        overflow: hidden;
    }
 
    .news-letter-footer {
        position: absolute;
        left: 35%;
        padding-top: 3px;
        margin-left: -15px;
    }
}

@media screen and (max-width: 830px) {
    .header5 #header-top {
      height: 65px;
    }
}
 
@media screen and (max-width: 800px) {
 
    .btn-learn-more {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {

  .header-top-center {
    display: none;
  }

  #inner-header {
    padding-top: 0px;
  }

  .header5 #header-top {
    height: 0px;
  }

  .header5 #quick-access {
    margin-top:0;
    top:12px;
    left:0;
    width:100%;
  }

  #quick-access {
    width:70%;
    position: static;
    margin-top:4px;
  }

  .header5 #main-nav-container #main-nav .menu > li {
      padding-bottom: 15px !important
  }
 
  #responsive-nav-button {
        color: #AA9F81;
  }
 
  .search-menu {
        margin-left: 0%;
        margin-top: -10px;
  }
 
  .search-menu img {
        position: relative;
        margin-top: -60px;
        margin-left: 15px;
  }
 
  .search-separator {
        right: -55px;
        margin-top: 5px;
  }

}
 
@media screen and (max-width: 725px) {

  .slider-function .slider-side {
    display: none;
  }

  .slider-text {
    display: none;
  }

  .header-top-center {
    display: none;
  }

  #inner-header {
    padding-top: 0px;
  }

  .header5 #header-top {
    height: 0px;
  }
}
 
@media screen and (max-width: 700px) {
    .reserved-menu-add {
        margin-right: -180px;
    }
}
 
@media screen and (max-width: 545px) {

    .carousel-controls {
        padding-left: 0px;
    }
}
 
@media screen and (max-width: 500px) {
 
    .carousel-add {
        top: 40px;
    }
 
    .slider-text {
        position: absolute;
        word-wrap: break-word;
        text-align: center;
        margin-top: -39%;
        left: 16%;
        width: 20%;
        font-size: 100%;
    }
 
    .btn-group > .btn:first-child {
        margin-left: -10px;
    }
 
    .dropdown-menu-container .btn-right {
        position: absolute;
        left: -22px;
    }
 
    .pull-align {
        position: absolute;
        margin-top: 35px;
        margin-right: -140px;
    }
 
    .dropdown-menu-container {
        padding-bottom: 2px;
        position: absolute;
        top: -100px;
        right: 170px;
    }
 
    .home-banners {
        padding-left: 0%;
    }
 
    .pull-social {
        display: block;
        position: absolute;
        margin-top: 75px;
        margin-right: 25px;
    }
 
    .search-menu {
        top: 0px;
        left: 0px;
    }
 
    #header.header5 .dropdown-cart .dropdown-cart-menu {
        margin-top: 2px;
        border: 1px solid #E8E8E8;
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        width: 100%;
        margin-right: -70px;
        padding-left: 57px; 
    }
 
    .service-inline {
        width: 80%;
    }
 
    .home-banner-add {
        padding-left: 12%;
    }
 
    .social-links {
        font-size: 0px;
        line-height: 0;
        position: absolute;
        margin-top: 20px;
        margin-left: -160px;
    }
 
    #content {
        padding-bottom: 70px;
        overflow: hidden;
    }
 
    .news-letter-footer {
        position: absolute;
        left: 35%;
        padding-top: 3px;
        margin-left: -15px;
    }
 
    .page-logo {
        display: block;
        width: 100%;
        height: 100%;
    }
 
    .carousel-controls {
        padding-left: 0px;
        margin-top: 420px;
        z-index: 1;
        margin-right: 35%;
    }
 
}
 
@media screen and (max-width: 430px) {
 
    .btn-learn-more {
        margin-top: 30px;
    }
}
 
 
@media screen and (max-width: 350px) {
 
    .btn-learn-more {
        margin-top: 10px;
    }
 
    .carousel-controls {
        margin-right: 33%;
    }
 
}
 
@media screen and (max-width: 320px) {
 
    .carousel-controls {
        margin-right: 30%;
        margin-top: 452px;
    }
 
}
 
@media screen and (max-width: 300px) {
 
    .btn-learn-more {
        margin-top: 0px;
    }
 
}

#header.header5 .dropdown-cart .reserved-menu-add {
  left: 0px;
}